html, body{
    height: 100% ;
  }

.container {
    display: flex;
    
}

#canvas{

    margin: 0 0px 0px 10px;
    border: 5px solid black;


}

.controls{  
    width: 25%;
    height: 90vh;
    margin: 0;
    background: url('../images/arcade-machine3.png') no-repeat;
    background-position: 0px 0px;
    background-size: 80% 90vh;

}
#game-board{
    width: 70%;
}