html, body{
    height: 100% ;
    margin: 0;
    user-select: none;
}


.container{
    background: url(../images/bambooback.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    
}
.logo{
    background: url(../images/pangda.png) no-repeat ;
}
#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas{
    width: 1000px;
    height: 500px;
    border: 15px solid rgba(95, 103, 66, .8);
    border-radius: 60px;
    margin: 50px auto 0px;
    background: url(../images/jungle.jpeg) no-repeat center;
    background-size: cover;
}
#info{
    width: 1000px; 
    height: 150px;
    background-color: rgba(95, 103, 66, .8);
    border-radius: 40px;
    background-size: cover;  
    padding-bottom: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 15px;
    

}

.controls{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    letter-spacing: 4px;
    word-spacing: 4px;
    color: #d5e6e0;
    font-weight: 300;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
}

p{
    margin-top: 8px;
    font-weight: 900;
    text-transform: uppercase;
}
.controls-logo{
    width: 250px;
    padding-top: 20px;
}

.keySmall{
    width: 30px;
}
.keyLarge{
    width: 90px;
}
.button {
  border: none;
  border-radius: 12px;
  color: white;
  padding: 20px 38px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: red;
  color: white;
  border: 2px solid #ffffff;
  position: absolute;
  top: 65vh;
  left: 55vh;
}

.button:hover {
  background-color: gray;
  color: white;
}

.button:focus {outline:0;}

