html, body{
    height: 100% ;
}

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#canvas{
    border: 5px solid black;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    background: url(../images/jungle.jpeg) no-repeat center;
    background-size: cover;
}
#info{
    border: 5px solid red;
    width: 1000px;

}

